body,
html {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
}

.app {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  perspective-origin: center;
  perspective: 1600px;
  background-color: rgb(76, 76, 76);
}

.form {
  display: flex;
  gap: 12px;
}

.input,
.button {
  padding: 1em;
  font-size: 1em;
  border-radius: 6px;
}

.input {
  width: 36em;
}

.button {
  background-color: #007bff;
  text-decoration: none;
  color: white;
  border: none;
  cursor: pointer;
}

.forwardLinks,
.backwardLinks {
  display: flex;
  gap: 12px;
  height: 200px;
  align-items: center;

  a {
    text-decoration: none;
  }

  /* button {
    all: unset;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
    &:focus-visible {
      outline: 1px dashed white;
      outline-offset: 2px;
    }
  } */
}

.forwardLinks {
  transform: rotateX(10deg);
}

.backwardLinks {
  transform: rotateX(-10deg);
}
