.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  perspective-origin: center;
  perspective: 1600px;
  background-color: rgb(76, 76, 76);
}

.Form {
  display: flex;
  gap: 12px;
}

.State {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.ForwardLinks,
.BackwardLinks {
  display: flex;
  gap: 12px;

  button {
    all: unset;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
    &:focus-visible {
      outline: 1px dashed white;
      outline-offset: 2px;
    }
  }
}

.ForwardLinks {
  transform: rotateX(10deg);
}

.BackwardLinks {
  transform: rotateX(-10deg);
}
